
#ball{
    /* border: 1px solid black; */
    height: 100px;
    width: 100px;
    position: absolute;
    border-radius: 50%;
    background-color: cadetblue;
    display: flex;
    overflow: hidden;
    top:50px;
    left:50px;
    box-shadow: 0px 0px 5px 0px cadetblue;
}