body {
  margin: 0px 0 0 30px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}
#certifications {
  font-size: 1.3rem;
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 20px 0px;
}
.section {
  font-size: 1rem;
  color: #1e1e1e;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 20px 0px;
  /* border: 1px solid black; */
}
.sectionLabel {
  font-weight: bold;
}
#noteformail {
  margin: 25px 0px;
}
